* {
  box-sizing: border-box;
}

:root {
  --fieldHeight: 95vh;
  --fieldWidth: 100vw;
  /*--squareHeight and --squareWidth from js*/
}

main, section#nexts {
  display: inline-block;
}

.column {
  display: inline-flex;
  flex-direction: column;
}

.square {
  background-color: var(--squareColor);
  border: .1px solid var(--squareBorderColor);
  height: min(calc(var(--fieldHeight) / var(--squareHeight)), calc(var(--fieldWidth) / var(--squareWidth)));
  width: min(calc(var(--fieldHeight) / var(--squareHeight)), calc(var(--fieldWidth) / var(--squareWidth)));
}